<h2>Clasificación de la Liga</h2>

<app-partido></app-partido>

<table>
    <thead>
        <tr>
            <th>Pos</th>
            <th>Equipo</th>
            <th>Pts</th>
            <th>PJ</th>
            <th>PG</th>
            <th>PE</th>
            <th>PP</th>
            <th>GF</th>
            <th>GC</th>
            <th>Dif</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let equipo of equipos; let i = index">
            <td>{{ i + 1 }}</td>
            <td>
                <a [routerLink]="['/ficha', equipo.nombre]"
                    style="text-decoration: none; color: #0d47a1; font-weight: 500;">
                    {{ equipo.nombre }}
                </a>
            </td>
            <td>{{ equipo.puntos }}</td>
            <td>{{ equipo.pj }}</td>
            <td>{{ equipo.pg }}</td>
            <td>{{ equipo.pe }}</td>
            <td>{{ equipo.pp }}</td>
            <td>{{ equipo.gf }}</td>
            <td>{{ equipo.gc }}</td>
            <td>{{ equipo.dg }}</td>
        </tr>
</table>

<button (click)="cargarClasificacion()">Actualizar tabla</button>